body{
	background-image: url("BGregist.jpg");
	background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
	font-family: Arial, Helvetica, sans-serif;
}
h1{
	font-size: 45px;
	text-align:center; 
	padding:10px 
	font-weight: bold; 
	margin-top:100px;
}
.left{
  font-size:20px;
  font-weight: bold;
  float:left;
  padding-left:200px;
    padding-top:10px;
    line-height: 18px;
    font-weight: bold;
}
.right{
  font-size:20px;
  font-weight: bold;
  float:right;
  padding-right:200px;
  padding-top:10px;
  line-height: 18px;
    font-weight: bold;
}

.next input:hover {
    background-color: #4834d4;

}
#navbar {
  overflow: hidden;
  background-color: #4834d4;
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99; 
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px;
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  margin-right: 20px;
  margin-top:8px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo */
#navbar #logo {
  font-size: 40px;
  font-weight: bold;
  transition: 0.4s;
  color: #eb4d4b
}

/* Links on mouse-over */
#navbar-center a:hover {
  background-color: #eb4d4b;
  color: white;
}
/* Display some links to the center */
#navbar-center {
  margin-left: 450px;
  float: center;
  font-weight: bold;
}
